* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  background-color: rgb(241, 239, 239);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 20px;
}

.featured {
  position: relative;
  margin: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 50px;
}

.featured-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.featured-item2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.main {
  margin: 10px;
  padding: 10px;
  position: relative;
}

.recipe-container {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  height: 300px;
  width: 200px;
  background-color: whitesmoke;
  overflow: hidden;
  justify-content: center;
}

.recipe-view p{
  width: 100%;
  word-wrap:break-word;
}






